<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00pm</td>  <td>Welcome and Introduction to R/RStudio</td> </tr>
      <tr> <td>2:00pm</td>  <td>Break</td> </tr>
      <tr> <td>2:10pm</td>  <td>Data Structures</td> </tr>
      <tr> <td>2:50pm</td>  <td>Exploring Data Frames</td> </tr> 
      <tr> <td>3:30pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>1:45pm</td>  <td>Control Flow, pt. 1</td> </tr>
      <tr> <td>2:15pm</td>  <td>Break</td> </tr>
      <tr> <td>2:25pm</td>  <td>Control Flow, pt. 2</td> </tr>
      <tr> <td>2:50pm</td>  <td>Data Frame Manipulation with <i>dplyr</i></td> </tr>
      <tr> <td>3:30pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Vectorization</td> </tr>
      <tr> <td>1:30pm</td>  <td>Creating Publication-Quality Graphics with <i>ggplot2</i></td> </tr>
      <tr> <td>2:35pm</td>  <td>Break</td> </tr>
      <tr> <td>2:45pm</td>  <td>Data Frame Manipulation with <i>tidyr</i></td> </tr>
      <tr> <td>3:30pm</td>  <td>Wrap-up and End</td> </tr>
    </table>
  </div>
</div>
