<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00pm</td>  <td>Introduction to R/RStudio and basic mathematical operations</td> </tr>
      <tr> <td>2:15pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Variables, data types & structures</td> </tr>
      <tr> <td>3:00pm</td>  <td>Data frames, loading and writing</td> </tr>
      <tr> <td>3:30pm</td>  <td>Anatomy of an R function</td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Subsetting data</td> </tr>
      <tr> <td>1:45pm</td>  <td>Conditional statements and loops, pt. 1</td> </tr>
      <tr> <td>2:15pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Conditional statements and loops, pt. 2</td> </tr>
      <tr> <td>3:15pm</td>  <td>Data Frame Manipulation with <i>dplyr</i></td> </tr>
      <tr> <td>4:00pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>1:00pm</td>  <td>Creating Publication-Quality Graphics with <i>ggplot2</i></td> </tr>
      <tr> <td>2:15pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30pm</td>  <td>Discussion: best practices, scripting advice</td> </tr>
      <tr> <td>3:15pm</td>  <td>Writing functions and introduction to <i>tidyr</i></td></tr>
      <tr> <td>3:50pm</td>  <td>Wrap-up </tr>
    </table>
  </div>
</div>
